*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: navajowhite;

}

h1 {
    text-align: center;
    font-size: clamp(2rem, 3vw, 5rem);
    margin:20px;
}

#control-panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}
input[type="color"] {
    border-radius: 50%;
    margin: 20px;
    width: 100px;
    height: 50px;
    border: 2px solid saddlebrown   ;
}


button {
    display: block;
    margin:2vw;
    width:130px;
    height:50px;
    background: linear-gradient(90deg, #224477, #544533);
    color: white;
    font-weight: 900;
    transition: all 0.3s;
    cursor: pointer;
    
}

button:hover {
    background: linear-gradient(90deg, #544533, #224477);
    transform: translate(15px);
    transform: scale(1.1);

}

#drawing-grid {
    display: grid;
    height: 80vh;
    width:60vw;
    height: auto;
    background-color: white;

    
  
    
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.drawing-div {
    background-color: white;
    aspect-ratio: 1 /1;
    opacity: 0;
}

.selected {
    border: 2px solid #22ff22;
}

#clear-btn {
    background: linear-gradient(90deg, #996644, #aa2233);
}